/*layout*/
html,body {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 17px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Georgea';
}
p{
	text-align: justify;
}
.f-sans-serif {
	font-family: Arial,sans-serif;
}
/*header*/
.navbar-brand >img {
	width: 100%;
	max-width: 200px;
}
#wrapper {
	margin: 0 auto;
}
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 98%;
	background: #fff;
}
.table-header >tbody>tr>td, .table-header >thead>tr>th {
	vertical-align: middle;
	border: none;
	margin: 0;
}
.hidden-md-down {
	display: none;
}
.full-width {
	width: 100%;
}
.nav-search-box {
	height: 0;
	overflow: hidden;
	/*padding: 10px;*/
	opacity: 0;
	transition: height .6s ease, opacity .6s ease, visibility .6s ease;
	visibility: hidden;
}
.nav-search-box.active {
	height: 50px;
	opacity: 1;
	visibility: visible;
}
.table-search-box {
	margin: 0;
}
.table-search-box > tbody > tr > td:first-child {
	width: 95%;
}
.table-search-box > tbody > tr > td {
	padding: 2px;
	border-top: none;
}
#header .navbar {
	transition: all .3s ease;
	/*height: 148px;*/
	/*transition: height .3s ease, box-shadow .3s ease;*/
}
#d-header-upper {
	transition: all .6s ease, visibility;
}
.d-header-upper-inactive {
	visibility: hidden;
    height: 0;
    padding: 0 !important;
}
#header > .nav-box-shadow {
	box-shadow: 0px 0px 2px 0;
}
#mainContent {
	padding-top: 56px;
} 
@media (min-width: 992px) {
	#mainContent {
		padding-top: 120px;
	} 
	.navbar-expand-lg > .navbar-collapse {
		display: none !important;
	}
	#navbarDesktop {
		font-size: 12px;	
	}
	.search-box-wrapper > .search-box {
		padding: 3px;
	    border-radius: 25px;
	    font-size: 13px;
	}
	.table-search-box .fa-search {
		color: #fff;
	}
	.d-nav > .nav-item {
	    margin-right: 8px;
    	margin-left: 8px;
		transition: all .2s ease;
    	&:hover {
    		text-decoration:none;
    		text-shadow: 2px -1px 3px #010508;
    	}
	}
}
@media (min-width: 1060px) {
	#navbarDesktop {
		font-size: 14px;		
	}
}

@media(min-width:768px){
	.hidden-md-down {
		display: block;
	}
	.nav-lg-wrapper {
		width: 100%;
		display: table;
	}
	.nav-lg-wrapper > .nav-lg-item {
		display: table-cell;
	}
	.nav-lg-wrapper > .nav-lg-item:first-child {
		max-width: 220px;
		/*width: 30%;*/
	}
	.nav-lg-wrapper > .nav-lg-item:nth-child(2) {
		/*width: 60%;*/
	}
	.nav-lg-wrapper > .nav-lg-item:last-child {
		/*width: 10%;*/
	}
	.navbar-brand>img {
		max-width: 350px;
	}
	.dropdown-menu {
		right: 0;
		left: unset;
	}
	.hover-zoom {
		transition: all .3s ease;
	}
	.hover-zoom:hover {
		font-size:calc(120%);
	}
}
 
.home-bg1 {
	background: transparent url("/assets/images/bava.jpg") no-repeat scroll 0 0 / cover ;
}
.img-responsive::before {
    content: "";
    display: block;
}
.img-responsive {
    display: block;
    position: relative;
    width: 100%;
}
.img-responsive img {
    height: auto;
    width: 100%;
}
/*footer*/
#footer {
	background-color: #36474F;
}
.footer-info {
	box-shadow:0 2px 0px 3px rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.footer-info > p {
	color: #fff;
	opacity: .7;
	font-size: 15px;
}
.footer-nav {
	list-style-type: none;
	padding: 0;
}
.footer-nav > li {
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.footer-nav > li > a {
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
}
@media(min-width: 420px) {
	.footer-nav {
		text-align: center;
	}
	.footer-nav > li {
		display: inline-block;
		margin-left: 8px;
		margin-right: 8px;
		margin-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
	}
}
/*general classes*/
.h-underline {
	background: url(/assets/imgs/head-under.png) no-repeat;
    border: none;
    height: 25px;
    background-position: center;
}
.img-thumb {
	width: 210px;
	max-width: 210px;
	max-height: 210px;
}
.nav-list, .nav-rounded-list {
	margin: 0;
	padding: 0;
}
.nav-rounded-list > .list-item {
	padding: 4px;
	list-style-type: none;
    background: hsla(0,0%,100%,.2);
    transition: box-shadow .3s;
    &:active {
    	background: hsla(0,0%,100%,.4);
    }
    &:hover {
    	box-shadow: 0 0 20px rgba(0,31,0,.6);
	    text-decoration: none;
	    transform: translateY(-1px);
    }
}
.list-item > a {
    text-decoration: none;
    &:hover {
   		text-decoration: none;
    }
}
.nav-rounded-list .caption {
	display: block;
	color: #8e8e8e;
	padding: 5px;
}
.nav-list > li {
	list-style-type: none;
	padding: 10px !important
}
.container {
	max-width: 1024px;
}
.container-small {
	margin: 0 auto;
	max-width: 720px;
}
/*.nav-rounded-list {
	margin: 0;
	width: 100%;
	padding: 0;
}
.nav-rounded-list > li {
	margin: 0;
    background: hsla(0,0%,100%,.2);
    display: block;
    padding: 4px;
    transition: box-shadow .3s;
    outline: none;
    &:active {
    	background: hsla(0,0%,100%,.4);
    }
    &:hover {
    	box-shadow: 0 0 20px rgba(0,31,0,.6);
	    text-decoration: none;
	    transform: translateY(-1px);
    }
}

.nav-rounded-list > li > a {
    display: block;
    max-width: 175px;
    border-radius: 50%;
    margin: 0 auto;
}
.nav-rounded-list > li > a > span {
	display: block;
	position: relative;
	overflow: hidden;
    margin: auto auto 10px;
    background: hsla(0,0%,100%,.4);
}
.nav-rounded-list>li>a>.caption {
	display: block;
    color: #666;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.3;
    padding: 5px;
}
.nav-rounded-list>li img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}*/
.grid-col {
  margin-bottom: 10px;
}
.grid-col:before,
.grid-col:after {
  content: " ";
  display: table;
}
.grid-col:after {
  clear: both;
}
.grid-col:before,
.grid-col:after {
  content: " ";
  display: table;
}
.grid-col:after {
  clear: both;
}
.grid-col > li,
.grid-col > div {
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 100%;
}
.grid-col-xs-2 > div,
.grid-col-xs-2 > li {
  width: 16.66666667%;
}
.grid-col-xs-3 > div,
.grid-col-xs-3 > li {
  width: 25%;
}
.grid-col-xs-4 > div,
.grid-col-xs-4 > li {
  width: 33.33333333%;
}
.grid-col-xs-6 > div,
.grid-col-xs-6 > li {
  width: 50%;
}
.grid-col > li > .thumbnail,
.grid-col > div > .thumbnail {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .grid-col-sm-2 > div,
  .grid-col-sm-2 > li {
    width: 16.66666667%;
  }
  .grid-col-sm-3 > div,
  .grid-col-sm-3 > li {
    width: 25%;
  }
  .grid-col-sm-4 > div,
  .grid-col-sm-4 > li {
    width: 33.33333333%;
  }
  .grid-col-sm-6 > div,
  .grid-col-sm-6 > li {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-2 > div,
  .grid-col-md-2 > li {
    width: 16.66666667%;
  }
  .grid-col-md-3 > div,
  .grid-col-md-3 > li {
    width: 25%;
  }
  .grid-col-md-4 > div,
  .grid-col-md-4 > li {
    width: 33.33333333%;
  }
  .grid-col-md-6 > div,
  .grid-col-md-6 > li {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .grid-col-lg-2 > div,
  .grid-col-lg-2 > li {
    width: 16.66666667%;
  }
  .grid-col-lg-3 > div,
  .grid-col-lg-3 > li {
    width: 25%;
  }
  .grid-col-lg-4 > div,
  .grid-col-lg-4 > li {
    width: 33.33333333%;
  }
  .grid-col-lg-6 > div,
  .grid-col-lg-6 > li {
    width: 50%;
  }
}

/*utility classes*/
.t-small {
	font-size: 16px !important;
}
.t-xsmall {
	font-size: 12px !important;
}
.t-large {
	font-size: 24px !important;
}
.t-xlarge {
	font-size: 28px !important;
}
.bg-blue {
	background-color: #25ACD9 !important;
} 
.fg-white {
	color: #fff !important;
}   
.table-no-pad {
	border-color: transparent !important;
	margin: 0;
}
.table-no-pad >tbody>tr>td, .table-no-pad >thead>tr>th {
	padding: 0;
}
.search-btn {
	border:none;
}
.footer-nav > li > a:hover {
	text-decoration: none;
}