*{margin:0;padding:0;border-style:none;}
.clear{clear:both;}
.clearer{clear:both;height:1px;line-height:1px;font-size:1px;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
body{background:#660000 url(/imgs/bg_body.gif);font:normal 13px/1.3 "Trebuchet MS",Verdana, Arial, sans-serif;}
a{text-decoration:none;}
h2{margin:0 4px;padding-bottom:3px;border-bottom:1px #caf0ff solid;font:bold 13px/18px "Trebuchet MS",Arial,sans-serif;color:#09C;}
img,input{vertical-align:middle;}
.navBar{height:30px;line-height:30px;padding-top:5px;}
.tblNavMenu{width:auto;float:right;border:1px #00AFDE solid;background:#FFF;border-collapse:separate;clear:both;font:normal 11px Verdana, Arial, sans-serif;}
.tblNavMenu td{padding:0;margin:0;border:1px #66D6FF solid;}
.tblNavMenu .Info{background:#E4F7FF;padding:0 2px 0 2px;}
.tblNavMenu .CurPage a{color:#caf0ff;font-weight:bold;}
.tblNavMenu a{display:block;padding:2px 0;width:18px;height:12px;line-height:12px;text-align:center;border:1px #E4F7FF solid;color:#18397C;}
.tblNavMenu a:hover{border:1px #CCC solid;}
.cb ul{margin:0 0 0 15px;}
#wrapper{width:989px;width:985px !important;margin:0 auto;padding:20px 2px 0;background:#FFF url(/imgs/bg_header.png) no-repeat 0 0;}
#innerWrapper{margin:0 auto;border-width:0 1px;border-color:#e6e6e6;border-style:solid;background-color:#F2F2F2;}
#header{margin:0 0 2px;padding:2px 0 0;border-bottom:1px #E5E5E5 solid;background:#FFF url(/imgs/bg_header.png) no-repeat center -20px;}
#logo{display:block;width:387px;height:53px;padding:0 0 0 114px;}
#footerWrapper{margin:0px 2px;border-bottom:2px #000 solid;padding-bottom:1px;}
#headContent{margin:7px 1px 0;border:2px #FFF solid;background:#FFF000 url(/imgs/bg_header.png) no-repeat scroll -6px -122px;}
h1{font-size:15px;color:#600;margin:0 20px;}
#headContent p{height:50px;margin:4px 20px 0;}
#topMenu,#footer{padding:0 2px;border:1px #000 solid;line-height:25px;background:#333;color:#FFF;}
#topMenu{margin:12px 2px 0;padding-left:75px;border-style:none;border-bottom:1px #000 solid;background:#333333 url(/imgs/bg_header.png) repeat scroll -5px -87px;}
#topMenu ul{height:25px;}
#topMenu li{float:left;width:auto;padding-left:18px;list-style-type:none;font-weight:bold;}
#topMenu a{display:block;padding-right:18px;outline:none;color:#FFF;}
#topMenu li.hover{background:#CCC url(/imgs/bg_toplinks.jpg);}
#topMenu li.hover a{background:transparent url(/imgs/bg_toplinks.jpg) no-repeat right -26px;color:#333;}
#body{margin:0;padding:0;background:#f5f5f5;}
#body .box{margin:0 0 4px;border:2px #FFF solid;}
#body .cb{border:1px #DCDCDC solid;background:#ECECEC;}
#body .tb{display:block;height:10px;line-height:10px;border:1px #FFF solid;}
#body .caption{display:block;line-height:26px;margin:0px 1px;font:bold 12px/26px "Trebuchet MS", Arial, sans-serif;text-align:center;background:#E6E6E6;color:black;}
#body .bluebox .caption{background:#CBF0FF;}
.tb.orange{background:#FC3 url(/imgs/bg_tb.gif) 0 0;}
.tb.green{background:#9C3 url(/imgs/bg_tb.gif) 0 -10px;}
.tb.blue{background:#09C url(/imgs/bg_tb.gif) 0 -20px;}
#mainContent{float:right;width:799px;}
#middleContent{width:527px;float:left;}
#middleContent a{color:#0099cc;}
#middleContent strong{font-size:95%;}
#middleContent .cb,#rightContent .cb.bluebox{border-color:#CEE0E7;background:#E4F7FF;}
#middleContent .pad{border:1px #CCC solid;margin:6px;padding:4px;background:#FFF;}
#rightContent{width:269px;float:right;}
#rightContent .gAd1{height:250px;width:250px;border:7px #ECECEC solid;background:#FFF;}
#leftContent{width:180px;float:left;}
#leftContent .cb{border-color:#DCDCDC;background:#FFF;}
#leftContent .head{display:block;line-height:25px;border:1px #99C000 solid;font-size:14px;font-weight:bold;text-align:center;background:#9C0 url(/imgs/bg_leftcontent_head.gif);color:#FFF;}
.leftMenu{padding-bottom:20px;background:#FFF url(/imgs/bg_leftmenu_footer.gif) repeat-x 0 bottom;}
.leftMenu a{display:block;margin:1px;padding:2px 0 2px 25px;font:normal 12px/13px Verdana, Arial, sans-serif;background:transparent url(/imgs/bg_leftmenu_links.gif) no-repeat -180px center;color:#18397c;}
.leftMenu a:hover{background-position:left center;}
.if{border:1px #CCC solid;}
.msgBox{display:block;padding:10px;margin:20px 35px;background:#FFF;color:#333;}
.msgBox .msgTitle{margin:-10px -10px 10px -10px;padding:2px 10px;font-weight:bold;color:#FFF;background:#666;}
.msgBox .msgButton{border-top:1px #CCC solid;line-height:35px;height:35px;margin:10px 0px -10px 0px;}
.msgBox a.button{display:block;width:100px;margin:5px 0px 5px 5px;float:left;height:20px;font:bold 100%/1.5em Arial, Verdana, Helvetica, sans-serif;text-align:center;border:1px #CCC solid;color:#666;}
.msgBox .msgButton .button:hover{background:#E5E5E5;color:#333;}
.msgBox .msgButton span{float:right;}
.infoMsg {border:1px #151540 solid;}
.infoMsg .msgTitle{background:#151540;}
.infoMsg a.button{border-color:#151540;color:#151540;}
.errorMsg {border:1px #B60101 solid;}
.errorMsg a.button{border-color:#B60101;color:#B60101;}
.errorMsg .msgTitle{background:#B60101;}
.successMsg {border:1px #009900 solid;}
.successMsg .msgTitle{background:#009900;}
.successMsg a.button{border-color:#009900;color:#009900;}
.msgBox li{margin-left:10px;}
#langBar a,#langBar b{padding:0 3px 0 3px;}
#langBar a{font-weight:bold;color:#18397C;}
#langBar b{color:#300;}

.glitter{text-align:center;display:block;clear:both;margin:10px 0;}
/*
.glitter table{margin:0px auto;}
.glitter .txtInput{border:1px #333 solid;}
.glitter textarea{margin:5px auto;width:365px;padding:0px;height:53px;text-align:center;border:1px #999 solid;}
.glitter input{border:1px #999 solid;padding:0px;width:55px;height:55px;line-height:35px;text-align:center;}
.glitter .msg{height:22px;line-height:22px;text-align:center;color:green;font-weight:bold;border:1px #FFF solid;}
.glitter .hilite{border:1px green solid;}
*/
.starRate{display:block;width:105px;overflow:auto;margin:5px 0px;float:right;}
.starRate .stars{float:right;}
.cancel,.star{float:left;width:17px;height:17px;overflow:hidden;margin:0px;text-indent:-999em;cursor:pointer;}
.cancel a, .star a{display:block;width:100%;height:100%;color:#FFF;}
.cancel a{background:url('/imgs/delete.gif') no-repeat 0 0px;}
.star a{background:url('/imgs/rating-stars.png') no-repeat 0 -53px;}
.star_hover a, .star a:hover {background-position: 0 -36px;}
.star_readonly a,.star_readonly a:hover{background-position: 0 -53px !important;cursor:default;}
.star_on a, .star_on a:hover{background-position:0 -20px !important;cursor:default;}
.star_clicked a, .star_clicked a:hover{background-position: 0 -4px !important;cursor: default;}
.star_loading{width:17px;height:17px;background:url('/imgs/loading1.gif') no-repeat 0px 0px;float:left;overflow:hidden;text-indent:-999em;cursor:default;}
.codeWrapper{margin:0 auto;width:410px;border:1px #333 solid;background:#F2F2F2;}
.codeWrapper textarea{clear:both;margin:0;width:100%;border:1px #666 solid;border-width:1px 0 0 0;}
.codeWrapper .optGlitter{margin-left:5px;float:left;font:bold 11px/25px Verdana,Arial,sans-serif;color:#333;}
.codeWrapper .optGlitter a{color:#333;}
