*{margin:0;padding:0;border-style:none;}
.clear{clear:both;}
.clearer{clear:both;height:1px;line-height:1px;font-size:1px;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
body{background:#660000 url("/assets/imgs/bg_body.gif");font:normal 13px/1.3 "Trebuchet MS",Verdana, Arial, sans-serif;}
a{text-decoration:none;}
h2{margin:0 4px;padding-bottom:3px;border-bottom:1px #caf0ff solid;font:bold 13px/18px "Trebuchet MS",Arial,sans-serif;color:#09C;}
img,input{vertical-align:middle;}
.navBar {height:30px;line-height:30px;padding-top:5px;}
.pagination > ul {list-style-type:none;width:auto;float:right;border:1px #00AFDE solid;background:#FFF;clear:both;font:normal 11px Verdana, Arial, sans-serif;}
.pagination > ul > li {float:left;padding:0;margin:0;border:1px #66D6FF solid;}
.pagination .Info {background:#E4F7FF;padding:0 2px 0 2px;}
.pagination > ul > .active > a {color:#333;font-weight:bold;background:#eee;}
.pagination a {display:block;padding:2px 0;width:18px;height:12px;line-height:12px;text-align:center;border:1px #E4F7FF solid;color:#18397C;}
.pagination a:hover {}

.cb ul{margin:0 0 0 15px;}
.ringToneMain {border:1px double #CEE0E7;margin:5px;padding:7px;}
.ringToneImage {margin-right:10px;width:125px;float:left;border:1px solid #CEE0E7}
.ringToneText {float:left;font:12px/20px Arial,Verdana,sans-serif;width:256px;}
.downloadBoxLink {background:url("/assets/imgs/icon_download.jpg") no-repeat scroll 14px 0 transparent;padding-top:55px;display:block;float:right;width:79px;text-align:center;margin-top:25px;}
.ringDownListSl {border-color:#CAF0FF;border-style:solid;border-width:1px 0 1px 1px;color:#666666;float:left;font:bold 12px arial,verdana,Sans-serif;padding:11px 3px;text-align:center;width:34px;}
.ringDownListTitle {border-color:#CAF0FF;border-style:solid;border-width:1px 1px 1px 0;color:#666666;float:left;font:bold 12px arial,verdana,Sans-serif;padding:11px 3px 11px 100px;;width:349px;}
.ringDownListDownloads {background:url("/assets/imgs/icon_download.jpg") no-repeat scroll 30px 1px transparent;border-color:#D9D9D9;border-style:solid;border-width:1px 1px 1px 0;color:#666666;float:left;font:bold 12px arial,verdana,Sans-serif;padding:3px;text-align:center;width:160px;}
.ringlink{background:url("/assets/imgs/icon_small_download.jpg") no-repeat scroll 2px 3px transparent;border:3px double #CEE0E7;display:block;margin:0 auto;padding:5px 5px 5px 29px;width:100px;}
.mainDivSubmitLeftRight {color:#444444;float:left;font:bold 11px Verdana,Arial,Helvetica;padding-left:20px;width:130px;}
.mainDivSubmitRight {float:left;width:250px;padding:3px 0;}
.mainDivSubmitInput{border:1px solid #d9d9d9;width:250px;}
.uploadRingtone{background:#f2f2f2 url("/assets/imgs/icon_upload.jpg") no-repeat scroll 5px 8px;border:3px solid #CEE0E7;display:block;margin:5px auto;padding:20px 30px 20px 55px;width:117px;font-weight:bold}
.topHeading {border-bottom:1px solid #CAF0FF;border-top:1px solid #CAF0FF;padding:5px 0;}
.smsRingHead {color:#0099CC;font:bold 13px Trebuchet MS,sans-serif;margin-right:15px;}
.ringSmsContainer {background:url("/ringtones/images/bg_openQuote.jpg") no-repeat scroll 0 0 #FFFFFF;margin:10px 0;min-height:75px;padding:3px 0 0 20px;}
.ringSmsContent {background:url("/ringtones/images/bg_closeQuote.jpg") no-repeat scroll right bottom #FFFFFF;line-height:23px;padding-bottom:15px;text-indent:10px;}
.ringSmsContainerBottom{background:url("/ringtones/images/bg_smsContainerBottom.gif") no-repeat scroll 0 0 #FFFBDD;height:21px;margin:15px;padding:2px 10px;text-align:center;}
.catLink{color:#0099CC;}
.catLink:hover{text-decoration:underline;}

#wrapper{width:1000px;width:996px !important;margin:0 auto;padding:20px 2px 0;background:#FFF url(/assets/imgs/bg_header.png) no-repeat 0 0;}
#innerWrapper{margin:0 auto;border-width:0 1px;border-color:#e6e6e6;border-style:solid;background-color:#F2F2F2;}
#header{margin:0 0 2px;padding:2px 0 0;border-bottom:1px #E5E5E5 solid;background:#FFF url(/assets/imgs/bg_header.png) no-repeat center -20px;}
#logo{display:block;width:387px;height:53px;padding:0 0 0 114px;}
#footerWrapper{margin:0px 2px;border-bottom:2px #000 solid;padding-bottom:1px;}
#headContent{margin:7px 1px 0;border:2px #FFF solid;background:#FFF000 url(/assets/imgs/bg_header.png) no-repeat scroll -6px -122px;}
h1{font-size:15px;color:#600;margin:0 20px;}
#headContent p{height:50px;margin:4px 20px 0;}
#topMenu,#footer{padding:0 2px;border:1px #000 solid;line-height:25px;background:#333;color:#FFF;}
#topMenu{margin:12px 2px 0;padding-left:75px;border-style:none;border-bottom:1px #000 solid;background:#333333 url(/assets/imgs/bg_header.png) repeat scroll -5px -87px;}
#topMenu ul{height:25px;}
#topMenu li{float:left;width:auto;padding-left:18px;list-style-type:none;font-weight:bold;}
#topMenu a{display:block;padding-right:18px;outline:none;color:#FFF;}
#topMenu li.hover{background:#CCC url(/assets/imgs/bg_toplinks.jpg);}
#topMenu li.hover a{background:transparent url(/assets/imgs/bg_toplinks.jpg) no-repeat right -26px;color:#333;}
#body{margin:0;padding:0;background:#f5f5f5;}
#body .box{margin:0 0 4px;border:2px #FFF solid;}
#body .cb{border:1px #DCDCDC solid;background:#ECECEC;}
#body .tb{display:block;height:10px;line-height:10px;border:1px #FFF solid;}
#body .caption{display:block;line-height:26px;margin:0px 1px;font:bold 12px/26px "Trebuchet MS", Arial, sans-serif;text-align:center;background:#E6E6E6;color:black;}
#body .bluebox .caption{background:#CBF0FF;}
.tb.orange{background:#FC3 url(/assets/imgs/bg_tb.gif) 0 0;}
.tb.green{background:#9C3 url(/assets/imgs/bg_tb.gif) 0 -10px;}
.tb.blue{background:#09C url(/assets/imgs/bg_tb.gif) 0 -20px;}
#mainContent{float:right;width:828px;}
#middleContent{width:520px;float:left;}
#middleContent a{color:#0099cc;}
#middleContent strong{font-size:95%;}
#middleContent .cb,#rightContent .cb.bluebox{border-color:#CEE0E7;background:#E4F7FF;}
#middleContent .pad{border:1px #CCC solid;margin:6px;padding:4px;background:#FFF;}
#rightContent{width:306px;float:right;}
#rightContent .gAd1{height:250px;width:300px;background:#FFF;}
#leftContent{width:164px;float:left;}
#leftContent .cb{border-color:#DCDCDC;background:#FFF;}
#leftContent .head{display:block;line-height:25px;border:1px #99C000 solid;font-size:14px;font-weight:bold;text-align:center;background:#9C0 url(/assets/imgs/bg_leftcontent_head.gif);color:#FFF;}
#ringToneImg {float:left;height:135px;margin-bottom:10px;width:135px;}
#ringToneTextDown {float:left;font:12px/20px Arial,verdana,sans-serif;padding:0 0 0 11px;width:200px;}
#submitRingtone{background:none;padding:8px 0;border:none;margin:0;width:auto;text-align:center;}

.leftMenu{padding-bottom:20px;background:#FFF url(/assets/imgs/bg_leftmenu_footer.gif) repeat-x 0 bottom;}
.leftMenu a{display:block;margin:1px;padding:2px 0 2px 25px;font:normal 12px/13px Verdana, Arial, sans-serif;background:transparent url(/assets/imgs/bg_leftmenu_links.gif) no-repeat -180px center;color:#18397c;}
.leftMenu a:hover{background-position:left center;}
.if{border:1px #CCC solid;}
.msgBox{display:block;padding:10px;margin:20px 35px;background:#FFF;color:#333;}
.msgBox .msgTitle{margin:-10px -10px 10px -10px;padding:2px 10px;font-weight:bold;color:#FFF;background:#666;}
.msgBox .msgButton{border-top:1px #CCC solid;line-height:35px;height:35px;margin:10px 0px -10px 0px;}
.msgBox a.button{display:block;width:100px;margin:5px 0px 5px 5px;float:left;height:20px;font:bold 100%/1.5em Arial, Verdana, Helvetica, sans-serif;text-align:center;border:1px #CCC solid;color:#666;}
.msgBox .msgButton .button:hover{background:#E5E5E5;color:#333;}
.msgBox .msgButton span{float:right;}
.infoMsg {border:1px #151540 solid;}
.infoMsg .msgTitle{background:#151540;}
.infoMsg a.button{border-color:#151540;color:#151540;}
.errorMsg {border:1px #B60101 solid;}
.errorMsg a.button{border-color:#B60101;color:#B60101;}
.errorMsg .msgTitle{background:#B60101;}
.successMsg {border:1px #009900 solid;}
.successMsg .msgTitle{background:#009900;}
.successMsg a.button{border-color:#009900;color:#009900;}
.msgBox li{margin-left:10px;}
#langBar a,#langBar b{padding:0 3px 0 3px;}
#langBar a{font-weight:bold;color:#18397C;}
#langBar b{color:#300;}

.glitter{text-align:center;display:block;clear:both;margin:10px 0;}
/*
.glitter table{margin:0px auto;}
.glitter .txtInput{border:1px #333 solid;}
.glitter textarea{margin:5px auto;width:365px;padding:0px;height:53px;text-align:center;border:1px #999 solid;}
.glitter input{border:1px #999 solid;padding:0px;width:55px;height:55px;line-height:35px;text-align:center;}
.glitter .msg{height:22px;line-height:22px;text-align:center;color:green;font-weight:bold;border:1px #FFF solid;}
.glitter .hilite{border:1px green solid;}
*/
.starRate{display:block;width:105px;overflow:auto;margin:5px 0px;float:right;}
.starRate .stars{float:right;}
.cancel,.star{float:left;width:17px;height:17px;overflow:hidden;margin:0px;text-indent:-999em;cursor:pointer;}
.cancel a, .star a{display:block;width:100%;height:100%;color:#FFF;}
.cancel a{background:url('/assets/imgs/delete.gif') no-repeat 0 0px;}
.star a{background:url('/assets/imgs/rating-stars.png') no-repeat 0 -53px;}
.star_hover a, .star a:hover {background-position: 0 -36px;}
.star_readonly a,.star_readonly a:hover{background-position: 0 -53px !important;cursor:default;}
.star_on a, .star_on a:hover{background-position:0 -20px !important;cursor:default;}
.star_clicked a, .star_clicked a:hover{background-position: 0 -4px !important;cursor: default;}
.star_loading{width:17px;height:17px;background:url('/assets/imgs/loading1.gif') no-repeat 0px 0px;float:left;overflow:hidden;text-indent:-999em;cursor:default;}
.codeWrapper{margin:0 auto;width:410px;border:1px #333 solid;background:#F2F2F2;}
.codeWrapper textarea{clear:both;margin:0;width:100%;border:1px #666 solid;border-width:1px 0 0 0;}
.codeWrapper .optGlitter{margin-left:5px;float:left;font:bold 11px/25px Verdana,Arial,sans-serif;color:#333;}
.codeWrapper .optGlitter a{color:#333;}



/************Css For Tab****************/

/* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
.ui-tabs-hide {display: none;}
/* Skin */
.ui-tabs-nav {list-style:none;margin:0px;padding:0px;background:#FFF url(/news/images/bg_tab_top.jpg) repeat-x 0 bottom;}
/* clearing without presentational markup, IE gets extra treatment */
.ui-tabs-nav:after {display: block;clear: both;content: " ";}
.ui-tabs-nav li {margin:0px;float:left;list-style-type:none;color:#FFFFFF;height:23px;text-align:center;border:1px solid #ccc;border-left:none;border-top:none;border-bottom:1px solid #ccc;background:#CBF0FF;}
.ui-tabs-nav a, .ui-tabs-nav a span {width:132px;float:left;display:block;text-align:center;font:normal 11px arial,sans-serif;}
.ui-tabs-nav a{margin:0px;padding:0px;text-decoration: none;white-space: nowrap; /* @ IE 6 */outline: 0;line-height:20px;}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {color: #0099CC;text-transform:uppercase;}
.ui-tabs-nav .ui-tabs-selected{border-bottom:none;font:normal 11px arial,sans-serif;height:24px;text-align:center;background:#E4F7FF;}
.ui-tabs-nav .ui-tabs-selected a {z-index:2;}
.ui-tabs-nav a span {padding:0px;color:#999999;border-left:1px solid #BEBEBE;}
.ui-tabs-nav .ui-tabs-selected a span {color:#FFF;border-top:1px solid #bebebe;border-bottom:none;}
/* @ Opera, use pseudo classes otherwise it confuses cursor... */
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited,.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {cursor: text;color:#000;}
/* @ Opera, we need to be explicit again here now... */
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active {cursor: pointer;}
.ui-tabs-panel {}
/* declare background color for container to avoid distorted fonts in IE while fading */
/*.ui-tabs-loading em {   padding: 0 0 0 20px;background: url(loading.gif) no-repeat 0 50%;}*/
/* Additional IE specific bug fixes... */
/* auto clear @ IE 6 & IE 7 Quirks Mode */
* html .ui-tabs-nav {display: inline-block;}
/* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
*:first-child+html .ui-tabs-nav{display: inline-block;}



