<script id="modalTemplate" type="text/x-jsrender">
	<div class="modal {{:cls}}" id="{{:id}}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" href="#" data-dismiss="modal">×</button>
					<h3 class="modal-title">{{:title}} &nbsp;</h3>
				</div>
				<div class="modal-body">
					{{:body}}
				</div>
				<div class="modal-footer">{{>footer}}</div>
			</div>
		</div>
	</div>
</script>
<script id="dialogTemplate" type="text/x-jsrender">
<div style="padding:10px;min-width:450px;">
	<table style="max-width:95%;min-width:450px;margin:auto;" title="{{:title}}" cellspacing="0" cellpadding="0">
		<tr>
		{{if icon}}
			<td><i class="icon-{{:icon}}" style="margin:0 7px 0 0;"></i></td>
		{{/if}}
		<td>{{:message}}</td>
		</tr>
	</table>
</div>
</script>
<script id="formInputTemplate" type="text/x-jsrender">
	{{if type === "text"}}
		<textarea {{:~form_input_attributes()}} name="{{:name}}" class="{{:class||'input-xxlarge'}}" placeholder="{{:placeholder}}">{{>value}}</textarea>
	{{else type === "code"}}
		<span class="input-editor input-field"><textarea class="{{:class||'input-xxlarge'}}" name="{{:name}}" data-editor="code" {{:~form_input_attributes()}} rows='5' cols='22'>{{:value}}</textarea></span>
	{{else type === "multi"}}
		<select {{:~form_input_attributes()}} name="{{:name}}" class="{{:class||'input-xxlarge'}}">
			{{for multi}}
			<option>{{#index}}</option>
			{{/for}}
		</select>
	{{else}}
		<input {{:~form_input_attributes()}} name="{{:name}}" value="{{>value}}" class="{{:class||'input-xxlarge'}}" placeholder="{{:placeholder}}">
	{{/if}}
</script>
<script id="formFieldTemplate" type="text/x-jsrender">
  <div class="control-group">
    <label for="{{:opt.id}}" class="control-label">{{:label}}</label>
    <div class="controls">
	{{:~formInput(field, opt, placeholder, fromFormField)}}
	{{if hint}}<p class="help-block">{{:hint}}</p>{{/if}}
    </div>
  </div>
</script>
<script id="formInputType_string" type="text/x-jsrender">
	<input name="{{:field}}" {{:attributes}} value="{{>value}}" type="text" />
</script>
<script id="formInputType_html5" type="text/x-jsrender">
	<input name="{{:field}}" {{:attributes}} value="{{>value}}" type="{{>type}}" />
</script>
<script id="formInputType_text" type="text/x-jsrender">
	<textarea name="{{:field}}" {{:attributes}} rows='5' cols='22'>{{>value}}</textarea>
</script>
<script id="formInputType_code" type="text/x-jsrender">
	<span class='input-editor input-field input-textarea'><textarea class="{{:class}} " name="{{:field}}" data-editor='code' {{:attributes}} rows='5' cols='22'>{{>value}}</textarea></span>
</script>
<script id="formInputType_boolean" type="text/x-jsrender">
	<label class='checkbox {{:class}}'><input type='checkbox' name="{{:field}}" value='1' {{if value}}checked="checked"{{/if}} {{>attributes}}/> {{:description}}</label>
</script>
<script id="formInputType_multi" type="text/x-jsrender">
	<select name="{{:field}}" {{:attributes}}>
	{{for ~object_to_array(multi) ~value=value}}
		<option value="{{:key}}" {{if ~value == key}}selected="selected"{{/if}}>{{:value}}</option>
	{{/for}}
	</select>
</script>
<script id="formInputType_list" type="text/x-jsrender">
	 {{if size != -1}}
		<select name="{{:field}}" {{:attributes}}>
		{{for ~object_to_array(list) ~value=value}}
			{{if typeof value == "Object" }}
				<optgroup label="{{:key}}">
				{{for ~object_to_array(value) ~value=~value}}
					<option value="{{:key}}" {{if ~value == key}}selected="selected"{{/if}}>{{:value}}</option>
				{{/for}}
				</optgroup>
			{{else}}
				<option value="{{:key}}" {{if ~value == key}}selected="selected"{{/if}}>{{:value}}</option>
			{{/endif}}
		{{/for}}
		</select>
	{{else}}
		<fieldset class="form-list-wrapper">
		{{for ~object_to_array(list) ~value=value}}
			{{if typeof value == "Object" }}
				<fieldset>
				<legend>{{:key}}</legend>
				{{for ~object_to_array(value) ~value=~value}}
					<div class="radio"><label><input type="radio" name="{{:field}}" value="{{:key}}"  {{if ~value == key}}checked="checked"{{/if}}> {{:value}}</label></div>
				{{/for}}
				</optgroup>
			{{else}}
				<div class="radio"><label><input type="radio" name="{{:field}}" value="{{:key}}"  {{if ~value == key}}checked="checked"{{/if}}> {{:value}}</label></div>
			{{/endif}}
		{{/for}}
		</fieldset>
	{{/if}}
</script>
<script id="formInputType_multi_list" type="text/x-jsrender">

</script>
<script id="formInputType_option" type="text/x-jsrender">
</script>
<script id="tableTemplate" type="text/x-jsrender">
	<table id="{{:options.id}}" class="{{:options.class}}">
	<thead>
	<tr>
	{{for ~object_to_array(headers)}}
		{{if 1 == 2}}
			{{if sort.field == key}}
				<th class="tablesorter-header tablesorter-headerSort{{if sort.direction === 'desc'}}Up{{else}}Down{{/if}}"><a class="tablesorter-header-inner" href="{{>sort.href}}sort_field={{:key}}{{if sort.direction !== 'desc'}}&amp;sort_direction=desc{{/if}}">{{:value[0]}}</a></th>
			{{else}}
				<th class="tablesorter-header"><a class="tablesorter-header-inner" href="{{>sort.href}}sort_field={{:k}}">{{:value[0]}}</a></th>
			{{/if}}
		{{else}}
			<th>{{:value[0]}}</th>
		{{/if}}
	{{/for}}
	</tr>
	</thead>
	<tbody>
	{{if noData}}
		<tr><td class="tc" colspan="{{:column_count}}"><em>{{>options.placeholder}}</em></td></tr>
	{{else}}
		{{for data}}
		<tr>
			{{for #data}}
				{{if print_cell}}
					<td{{if cls}} class="{{:cls}}"{{/if}}>{{:value}}</td>
				{{else}}
					{{:value}}
				{{/if}}
			{{/for}}
			</tr>
		{{/for}}
	{{/if}}
	</tbody>
	</table>
</script>
<script>
var T_STRING = 1, T_DATE = 2, T_TIME = 3, T_TEMPLATE = 4, T_INDEX = 5, T_HTML = 6, T_CHECKBOX = 7, T_FUNCTION = 8;
$(document).one('templateprecompile', function () {
	$.views.helpers({
	    form_getid: function() {
	        return this.data.id || ('fin_' + this.data.name.replace(/[^a-z0-9-_]/gi, '__'));
	    },
		form_input_attributes : function() {
			var attrs = '';
			attrs += 'id="' + this.ctx.form_getid.call(this) + '" ';
			for (var i in this.data['attr']) {
				attrs += i + '="' + this.data['attr'][i] +  '" ';
			}
			return attrs;
		},
		makeSafeName: Util.safeName,
		object_to_array: function( object ) {
			var key, value,
				fieldsArray = [];
			for ( key in object ) {
				if ( object.hasOwnProperty( key )) {
					value = object[ key ];
					// For each property/field add an object to the array, with key and value
					fieldsArray.push({
						key: key,
						value: value
					});
				}
			}
			// Return the array, to be rendered using {{for ~fields(object)}}
			return fieldsArray;
		},
		debug : function () {
			for (var i in arguments) {
				console.log(i, arguments[i]);
			}
		},
		formField : function (label, field, opt, placeholder, hint) {
			var tdata = this.data || {};
			if (!opt) opt = {};
			if (!opt.id) opt.id = "fin_" + field.replace(/[^a-z0-9-_]/i, '__');
			if (tdata[field]) opt.value = tdata[field];
			return $.render.formFieldTemplate($.extend({}, {opt : opt, label : label, field : field, placeholder : placeholder, hint : hint, fromFormField : true}));
		},
		formInput : function (field, opt, placeholder, fromFormField) {
			if (!opt) opt = {};
		
			opt['attributes'] = '';
			if (!fromFormField) {
				if (!opt.id) opt.id = "fin_" + field.replace(/[^a-z0-9-_]/i, '__');
			}
			var tdata = this.data || {};
			var data = $.extend({}, {id : '', 'class' : 'input-xlarge', type : 'string', value : tdata[field] || '', description : '', attr : '', field : field, size: 1}, opt);
			var type = data.type;
			if (type === 'uneditable') data.class += ' uneditable-input';
			if (placeholder) data.attr.placeholder = placeholder;
		
			attributes = '';
			attributes += "id=\"" + data.id + "\" ";
			if (type !== 'boolean') attributes += "class=\"form-control " + data.class + "\" ";
			if (data.attr) {
				for (var k in data.attr) {
					attributes += (k + '="' + data.attr[k] + '" ');
				}
			}
			if (['email', 'date', 'search', 'url'].indexOf(type) !== -1) {
				type = 'html5';
			}
			data.attributes = attributes;
			return $.render['formInputType_' + type](data);
		},
		table : function (arData, headers, options) {
		
			var defaultOption = {startIndex: 1, placeholder: 'There is no data to display', 'class': 'table table-striped', sort : {fields : [], field: '', direction: 'asc'}};
			if (!options) options = {sort : []};
			if (!options.sort || !options.sort[0]) options.sort = {fields: options.sort};
			var sort = options.sort;
			if (sort.fields) {
				if (!sort.href) {
					sort.href = document.location.pathname;
					var temp = $.deparam.querystring();
					if (temp.sort_field) {
						sort.field = temp.sort_field;
						delete temp.sort_field;
					}
					if (temp.sort_direction) {
						sort.direction = temp.sort_direction;
						delete temp.sort_direction;
					}
					delete temp.page;
					sort['href'] += '?' + http_build_query($arTmp);
				}
				sort.href += sort.href.indexOf('?') !== -1 ? '&' : '?';
				if (typeof sort.field == "undefined") sort.field = '';
				if (typeof sort.direction == "undefiend") sort.direction = 'asc';
			}
			options = $.extend({}, defaultOption, options);
		
			var noData = (typeof arData === "undefined") || !arData.length;
		
			var column_count = 0;
			for (var k in headers) {
				var v = headers[k];
				column_count++;
				if (typeof v == "number") v = headers[k] = [k.replace(/_/g, ' '), v];
				if (!$.isArray(v) || (!v[1] && (v = v[0]))) {
					if (!noData && typeof arData[0][k] !== "undefined") v = [v, T_STRING];
					else v = [v, T_TEMPLATE];
					headers[k] = v;
				} else if (v[1] == T_CHECKBOX) {
					name = v[2] ? v[2] : k;
					headers[k] = ['<input type="checkbox" class="chk-table-bulk-action"/>', T_TEMPLATE, "<input class='chk-table-item' type='checkbox' value='{"+name+"}' name='" + name + "[]' />"];
				} else if (v.length === 2) {
					if (v[1] == T_DATE && !v[2]) headers[k][2] = '%Y-%m-%d';
					else if (v[1] == T_TIME && !v[2]) headers[k][2] = '%Y-%m-%d %l:%M %P';
					else if (typeof v[1] == "function") headers[k] = [v[0], T_FUNCTION, v[1]];
					else if (typeof v[1] != "number") headers[k] = [v[0], T_TEMPLATE, v[1]];
				}
				if (headers[k][1] === T_TEMPLATE && !noData) {
					if (!headers[k][2]) $.error("Template string cannot be empty for column <em>{$v[0]}</em>");
					// var arTemplateKey = [];
					// for (var i in arData[0]) arTemplateKey.push('{' + i + '}');
				}
				// headers[k] = v;
			}
			var data = [];
			for (var i = 0, len = arData.length; i < len; i++) {
				var row = arData[i];
				data[i] = [];
				for (var key in headers) {
					var header = headers[key];
					var value = row[key], value_escaped = Util.htmlspecialchars(value);
					var d = {value : value_escaped, cls : '', print_cell : true};
				
					if (header[1] === T_STRING) {
						if (!value) {
							d.value = "<span class='label'>" + (value !== '' ? 'NULL' : 'EMPTY') + "</span>";
						}
					} else if (header[1] === T_INDEX) {
						d.cls = 'tindex';
						d.value = options.startIndex++;
					} else if (header[1] == T_DATE || header[1] === T_TIME) {
						d.value = new Date(value * 1000).strftime(header[2]);
					} else if (header[1] == T_FUNCTION) {
						d.print_cell = false;
						d.value = header[2].call(window, row);
					} else if (header[1] === T_TEMPLATE) {
						var val;
						d.value = header[2].replace(/\{(\$?[a-z0-9_]+)\}/gi, function(match, placeholder, offset, string) {
							val = row[placeholder];
							if (!val) {
								val = typeof val !== "" ? 'NULL' : 'EMPTY';
								return  (string === match) ? "<span class='label'>" + val + "</span>" : "{{" + val + "}}";
							} else {
								return val;
							}
						});
					} else {
						d.value = value;
					}
					data[i].push(d);
				}
			}
			return $.render['tableTemplate']($.extend({data : data, headers : headers, options : options, data : data}, {column_count :column_count, no_data : noData}));
		}
	})
});



// Written by Gianni Chiappetta - gianni[at]runlevel6[dot]org
// Released under the WTFPL
"undefined"==typeof Date.prototype.strftime&&(Date.prototype.strftime=function(){function d(a){return a.getDate()+""}function e(a){return((a.getTime()-f.start_of_year.getTime())/n+1+"").split(/\./)[0]}function g(a){a=a.getHours();0===a?a=12:12<a&&(a-=12);return a+""}function h(a){return a.getHours()}function k(a){return 12<=a.getHours()?"pm":"am"}function l(a){return a.getFullYear()+""}var f={start_of_year:new Date("Jan 1 "+(new Date).getFullYear())},p=/%([a-z]|%)/mig,n=864E5,q="Sunday Monday Tuesday Wednesday Thursday Friday Saturday".split(" "),
r="January February March April May June July August September October November December".split(" "),s="Sun Mon Tue Wed Thu Fri Sat".split(" "),t="Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec".split(" "),m={a:function(a){return s[a.getDay()]},A:function(a){return q[a.getDay()]},b:function(a){return t[a.getMonth()]},B:function(a){return r[a.getMonth()]},c:function(a){return a.toLocaleString()},d:function(a){return("0"+d(a)).slice(-2)},e:d,H:function(a){return("0"+h(a)).slice(-2)},I:function(a){return("0"+
g(a)).slice(-2)},j:e,k:h,l:g,m:function(a){return("0"+(a.getMonth()+1)).slice(-2)},M:function(a){return("0"+a.getMinutes()).slice(-2)},p:function(a){return k(a).toUpperCase()},P:k,S:function(a){return("0"+a.getSeconds()).slice(-2)},U:function(a){return("0"+Math.round(parseInt(e(a),10)/7)).slice(-2)},w:function(a){return a.getDay()+""},x:function(a){return a.toLocaleDateString()},X:function(a){return a.toLocaleTimeString()},y:function(a){return l(a).slice(-2)},Y:l,z:function(a){a=a.getTimezoneOffset();
return(0<=a?"-":"")+("0"+a/60).slice(-2)+":"+("0"+a%60).slice(-2)},"%":function(){return"%"}};return function(a){var b,c=a;for(f.start_of_year=new Date("Jan 1 "+this.getFullYear());b=p.exec(a);)b[1]in m&&(c=c.replace(new RegExp(b[0],"mg"),m[b[1]](this)));return c}}());
</script>