/* Message Box */
.msgBox{display:block;width:auto;max-width:800px;margin:3% 2%;padding:10px;border: 1px solid;color:#333;}
.msgBox .msgTitle{margin:-10px -10px 10px -10px;padding:2px 10px;font-weight:bold;color:#fff;background:#666;}
.msgBox .msgButton{border-top:1px #c0c0c0 solid;line-height:42px;height:42px;margin:10px 0 -10px 0;}
.msgBox .msgButton span{float:right;width:auto;padding:0;}
.msgBox ul{margin-left:20px;}
.msgBox li{list-style:disc outside;padding:0;margin:0;}
.msgBox li.success{list-style-image:url(/assets/img/icns/icn_success_small.png);}
.msgBox li.info{list-style-image:url(/assets/img/icns/icn_info_small.png);}
.msgBox li.warning{list-style-image:url(/assets/img/icns/icn_warning_small.png);}
.msgBox li.error{list-style-image:url(/assets/img/icns/icn_error_small.png);}
.msgWrapper {padding:5px 10px 5px 50px;margin:0;background-repeat: no-repeat;background-position: 10px center;}
.successMsg div.msgWrapper{background-image:url(/assets/img/icns/icn_success_medium.png);}
.infoMsg  div.msgWrapper{background-image:url(/assets/img/icns/icn_info_medium.png);}
.warningMsg  div.msgWrapper{background-image:url(/assets/img/icns/icn_warning_medium.png);}
.errorMsg  div.msgWrapper{background-image:url(/assets/img/icns/icn_error_medium.png);}
.successMsg {border:1px #009900 solid;}
.successMsg .msgTitle{background:#009900;}
.infoMsg {border:1px #151540 solid;}
.infoMsg .msgTitle{background:#151540;}
.warningMsg{color: #9F6000;background-color: #FEEFB3;}
.errorMsg {border:1px #b60101 solid;}
.errorMsg .msgTitle{background:#b60101;}

.form {
	margin-bottom: 20px;
}

.lst-links {
	margin:0;
}
.lst-links > li {
	margin-bottom: 10px;
}
.lst-links > li > a {
	& {
		background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
		.transition(all 0.2s ease-in-out 0s);
		display:block;
		padding: 7px 15px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
	}
	
	&:hover {
		border-color: #0066CC;
	}
}

.tagarea-container {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.tagarea-container.input-focus {
	outline:0;
	border-color:rgba(82, 168, 236, 0.8);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
}
.tagarea-container li {
	float: left;
	line-height: 1;
	list-style-type: none;
	margin:3px 3px 3px 0;
	font-size:13px;
	padding: 2px;
	padding-right: 15px;
	position: relative;
}
.tagarea-container > .tagarea-tag-wrapper > .tagarea-input-wrapper {
	position: static;
}
.tagarea-tag-wrapper {
	padding: 0;
	margin: -3px 0;
}
.tagarea-tag-wrapper > li.tagarea-tag {
	border-radius: 2px;
	border: 1px solid #cad8f3;
	background: #dee7f8;
}
.tagarea-input textarea:focus {
	border-color: #fff;
}
.tagarea-input textarea {background:transparent;opacity:1;width: 50px;margin: 0;border: 0;outline: 0;line-height:1.2;padding: 3px 0;font-size:12px;}
.tagarea-container .close {position: absolute;right: 4px; top: 1px;display: block;cursor:pointer;font-size:14px;}
.tagarea-input:after {
	content: "\00a0";
}
.tagarea-input{
	padding: 1px 0;
	display: inline-block;
}
.tagarea-input:focus{outline:none;}
.tagarea-container{
	margin-left:0;
}
.tagarea-input-placeholder{
	color:#999;
}
.tagarea-container:after {
	content:"\00a0";
}

.input-label {
	padding-top: 7px;
}
.editorWrapper {
	width: 100%;
	margin:0;
}
/**
 * TinyMCE Override
 */
.input-editor .mce-tinymce {
  border-width: 0 !important;
  border-radius: 0;
}
/**
 * CodeMirror
 */
.CodeMirror-code {
	font: normal 14px/1.5 @font-family-monospace;
}
/**
 * ACE Override
 */
.input-editor .ace_editor {
	border-style: none!important;
}


.editorWrapper .toggleEditor{
	padding:5px;
}
.editorWrapper .toggleEditor {
  border-bottom: 1px solid #CCCCCC;
}
.form-actions {
	text-align: right;
}
.form-actions .col-md-9 {
	text-align: left;
}
.input-editor textarea {
	display:block;
	height: 260px;
	border-style:none;
	font-family: @font-family-monospace;
}
.input-field,
.tagarea-container {
	cursor: text;
	display: inline-block;
	list-style-type: none;
	margin: 0;
}
.input-editor {
	display:block;
	padding: 0!important;
	width:100%;
	height: auto;
}


.filter-list {margin-left:0;color:#333;font-weight:bold;}
.filter-list li {float: left;line-height: 1;list-style-type: none;margin:3px 3px 1px 3px;display:block;font-size:13px;padding:4px 20px;position: relative;cursor:pointer;}
.filter-list .filter-condition {border-radius: 2px;border: 1px solid #cad8f3;background: #dee7f8;}
.filter-list .filter-condition:hover:after {border-radius:2px;content:"x";position:absolute;right:3px;top:5px;width:10px;height:10px;line-height:7px;border:1px #ccc inset;display:block;text-align:center;color:#666;}

// .fileinput-button {}
// *html .fileinput-button {padding: 2px 0;}
// *+html .fileinput-button {padding: 2px 0;}
// .fileupload-buttonbar {padding: 0.2em 0.4em;}
// .fileupload-buttonbar .ui-button {vertical-align: middle;}
// .fileupload-content {padding: 0.2em 0.4em;border-top-width: 0;}
// .fileupload-content .ui-progressbar {width: 200px;height: 20px;}
// .fileupload-content .ui-progressbar-value {background: url(pbar-ani.gif);}
// .fileupload-content .fileupload-progressbar {width: 400px;margin: 10px 0;}
// .files {margin: 10px 0;border-collapse: collapse;}
// .files td {padding: 5px;border-spacing: 5px;}
// .files img {border: none;}
// .files .name {padding: 0 10px;}
// .files .size {padding: 0 10px 0 0;text-align: right;white-space: nowrap;}
// .fileinput-button.disabled input {cursor: default;display:none;}
// .dropzone {border: 2px dashed #BBBBBB;border-radius: 5px 5px 5px 5px;color: #BBBBBB;margin:10px 0;padding: 25px;text-align: center;}
// .dropzone.hover{border-color:#999;background:#f2f2f2;}

.fileupload-input{position:absolute;top:-300px;}
.fileupload-dropzone {border: 2px dashed #BBBBBB;border-radius: 5px 5px 5px 5px;color: #BBBBBB;margin:10px 0;padding: 25px;text-align: center;}
.fileupload-dropzone.dragover{border-color:#999;background:#f2f2f2;}


/* Notification */
#notification{width:300px;position:fixed;top:45px;right:5px;list-style-type:none;z-index:10000;}
#notification > li{margin-bottom:5px;border:2px #333 solid;box-shadow:1px 1px 3px #333;}
#notification > li.in{opacity:0.8;}
#notification >li.in:hover{opacity:1;}
#notification .close{outline:none;}

/* Tree Menu */
ol.tree{line-height:18px;padding:0 0 0 30px;}
ol.tree li{position:relative;margin-left:-15px;list-style:none;}
ol.tree .filename{border:1px #FFF dotted;padding:0 5px;}
ol.tree .filename:hover{background:#f9f9f9;}
ol.tree .filename.current{border:1px #ccc dotted;background:#f4f4f4;}
ol.tree li.file{margin-left:-1px!important;background:url(/assets/img/tree/document.png) 0 center no-repeat;padding-left:21px;}
ol.tree li.file a{text-decoration:none;display:inline-block;}
/*
ol.tree li.file a[href$=".html"],li.file a[href$=".php"],li.file a[href$="INDEX"],li.file a[href*="/"]{background:url(/assets/img/tree/html.png) 0 0 no-repeat;}
*/
ol.tree li input{position:absolute;left:0;margin-left:0;opacity:0;z-index:2;cursor:pointer;height:1em;width:1em;top:0;}
ol.tree li input + ol{background:url(/assets/img/tree/toggle-small-expand.png) 40px 0 no-repeat;height:1em;margin:-1.55em 0 0 -44px;}
ol.tree li input + ol > li{display:none;margin-left:-14px!important;padding-left:1px;}
ol.tree li label{background:url(/assets/img/tree/directory.png) 15px 1px no-repeat;cursor:pointer;display:block;padding-left:33px;}
ol.tree li input:checked + ol{background:url(/assets/img/tree/toggle-small.png) 40px 5px no-repeat;height:auto;margin:-1.95em 0 0 -44px;padding:1.563em 0 0 80px;}
ol.tree li input:checked + ol > li{display:block;margin:0 0 .125em;}
ol.tree li input:checked + ol > li:last-child{margin:0 0 .063em;}

.tagarea + .tagarea-container,
.tagarea-typeahead {
	position: relative;
}
.tagarea + .tagarea-container .twitter-typeahead,
.tagarea-typeahead .twitter-typeahead {
	position: static !important;
}
.tt-dropdown-menu{
  text-align: left;
}
.typeahead,
.tt-query,
.tt-hint {
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}
.tt-dropdown-menu {
  width: 300px;
  max-width: 100%;
  margin-top: 3px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tt-dropdown-menu {max-height: 500px;overflow-y: auto!important;}
.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 24px;
  // border-bottom: 1px solid grey;
  cursor: pointer;
}
.tt-suggestion:last-child {
	border-bottom-style: none;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
.drop-tt-empty-message {
	padding: 5px 10px;
	text-align: center;
	color: #fff;
	background: red;
}
.twitter-typeahead {
	width: 100%;
}


.typeahead,
.tt-query,
.tt-hint {
	width: 100%;
	border: 2px solid #ccc;
	outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-menu {
	width: 100%;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion:hover {
	cursor: pointer;
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}


.color-preview {
	display: inline-block;
	content: "";
	width: 12px;
	height: 11px;
	border: 1px #000 solid;
	margin: 0 4px;
}
.color-preview-unset {
	border-color: transparent;
	background-color: transparent!important;
}
.input-group > .sp-replacer {
	border-color: #ccc;
	display: block;
	position: relative;
}
.spectrum-replacer > .sp-preview {
	height: 24px;
	position: absolute;
	left: 5px;
	right: 15px;
	width: auto;
}
.spectrum-replacer > .sp-dd {
	right: 5px;
	position: absolute;
	top: 8px;
}
.spectrum-container > .sp-palette-container > .sp-palette {
	max-width: 380px;
}
.spectrum-container > .sp-palette-container > .sp-palette .sp-thumb-el {
	height: 12px;
	margin: 1px 1px 0 0;
	width: 12px;
}