.grid-col {
	// list-style: none;
	.clearfix();
	// padding: 0;
	margin-bottom: 10px;
}
.grid-col > li,
.grid-col > div {
	float: left;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	width: 100%;
}

.grid-col-xs-2 > div,
.grid-col-xs-2 > li {
	width:16.66666667%;
}
// .grid-col-xs-3 > .grid-col,
.grid-col-xs-3 > div,
.grid-col-xs-3 > li {
	width:25%;
}
// .grid-col-xs-4 > .grid-col,
.grid-col-xs-4 > div,
.grid-col-xs-4 > li {
	width:33.33333333%;
}
// .grid-col-xs-6 > .grid-col,
.grid-col-xs-6 > div ,
.grid-col-xs-6 > li {
	width:50%;
}

.grid-col > li > .thumbnail,
.grid-col > div > .thumbnail {
	margin-bottom: 10px;
}
@media (min-width: @screen-sm-min) {
	.grid-col-sm-2 > div,
	.grid-col-sm-2 > li {
		width: 16.66666667%;
	}
	// .grid-col-xs-3 > .grid-col,
	.grid-col-sm-3 > div,
	.grid-col-sm-3 > li {
		width: 25%;
	}
	// .grid-col-xs-4 > .grid-col,
	.grid-col-sm-4 > div,
	.grid-col-sm-4 > li {
		width: 33.33333333%;
	}
	// .grid-col-xs-6 > .grid-col,
	.grid-col-sm-6 > div ,
	.grid-col-sm-6 > li {
		width: 50%;
	}
}
@media (min-width: @screen-md-min) {
	.grid-col-md-2 > div,
	.grid-col-md-2 > li {
		width: 16.66666667%;
	}
	// .grid-col-xs-3 > .grid-col,
	.grid-col-md-3 > div,
	.grid-col-md-3 > li {
		width: 25%;
	}
	// .grid-col-xs-4 > .grid-col,
	.grid-col-md-4 > div,
	.grid-col-md-4 > li {
		width: 33.33333333%;
	}
	// .grid-col-xs-6 > .grid-col,
	.grid-col-md-6 > div ,
	.grid-col-md-6 > li {
		width: 50%;
	}
}
@media (min-width: @screen-lg-min) {
	.grid-col-lg-2 > div,
	.grid-col-lg-2 > li {
		width: 16.66666667%;
	}
	// .grid-col-xs-3 > .grid-col,
	.grid-col-lg-3 > div,
	.grid-col-lg-3 > li {
		width: 25%;
	}
	// .grid-col-xs-4 > .grid-col,
	.grid-col-lg-4 > div,
	.grid-col-lg-4 > li {
		width: 33.33333333%;
	}
	// .grid-col-xs-6 > .grid-col,
	.grid-col-lg-6 > div ,
	.grid-col-lg-6 > li {
		width: 50%;
	}
}
